@model CourseAppChallenge.ViewModels.CourseItemViewModels.GetCourseItemByIdViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Module</h4>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseItemTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseItemTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.CourseTitle)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle)
            <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">Details</a>
        </dd>
    </dl>
    <table class="table table-striped table-hover">
        <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Lectures)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Lectures)
        {
            <td>
                @Html.DisplayFor(model => item)
            </td>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseItemId">Edit module</a> |
    <a asp-action="Create">Create New</a> |
    <a asp-action="Index">Back to List</a>
</div>