@model IEnumerable<Challenge.ViewModels.CourseItemViewModels.GetCourseItemsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Order)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CourseItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseItemId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create new module</a>
</p>