@page
@model courseappchallenge.Pages.Lectures.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Lecture</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetLectureByIdViewModel.LectureTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetLectureByIdViewModel.LectureTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetLectureByIdViewModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetLectureByIdViewModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetLectureByIdViewModel.VideoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetLectureByIdViewModel.VideoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GetLectureByIdViewModel.CourseItemTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GetLectureByIdViewModel.CourseItemTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GetLectureByIdViewModel?.LectureId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>