@model IEnumerable<CourseAppChallenge.ViewModels.LectureViewModels.GetLecturesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LectureTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseItemTitle)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LectureTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseItemTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LectureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LectureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LectureId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create new lecture</a>
</p>