@page
@model CourseAppChallenge.Pages.Courses.IndexCourseModel

@{
    ViewData["Title"] = "IndexCourse";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateCourse">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListGetCourseViewModel[0].CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListGetCourseViewModel[0].Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListGetCourseViewModel[0].DurationInMinutes)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ListGetCourseViewModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInMinutes)
            </td>
            @{
                if (User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-page="./DetailsCourse" asp-route-id="@item.CourseId">Details</a> |
                        <a asp-page="./EditCourse" asp-route-id="@item.CourseId">Edit</a> |
                        <a asp-page="./DeleteCourse" asp-route-id="@item.CourseId">Delete</a>
                    </td>
                }
                if (!User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-page="./DetailsCourse" asp-route-id="@item.CourseId">Details</a>
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>