@page
@model CourseAppChallenge.Pages.CourseItems.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseItem</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteCourseItemViewModel.CourseItemTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeleteCourseItemViewModel.CourseItemTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteCourseItemViewModel.CourseTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeleteCourseItemViewModel.CourseTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteCourseItemViewModel.Lectures)
        </dt>
        @foreach (var item in Model.DeleteCourseItemViewModel.Lectures)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item)
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="CourseItem.CourseItemId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>