@page
@model courseappchallenge.Pages.CourseItems.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CourseItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseItem.CourseItemTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseItem.CourseItemTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseItem.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseItem.Order)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseItem?.CourseItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
