@page
@model CourseAppChallenge.Pages.CourseItems.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetCourseItemsViewModel.CourseItemsViewModelList![0].
                CourseItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetCourseItemsViewModel.CourseItemsViewModelList![0].
                Order)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GetCourseItemsViewModel.CourseItemsViewModelList!)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseItemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseItemId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>